@font-face {
    font-family: 'DK Crayon Crumble';
    src: url('../fonts/DK Crayon Crumble.ttf')  format("truetype"),
         local('DK Crayon Crumble');
}
.board {
    background-image: url('../img/board.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh; /* These two lines are counted as one :-)       */
}
#canvas-board {
    background-color: white;
}
.canvas-body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../img/board-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/* .canvas-bg .row {
    margin-top: 10vh;
} */
.username-form {
    padding-top: 10%;
}
.canvas-column {
    width: 60%;
}
.canvas-tools{
    width: 40%;
}
#canvas-board {
    border:15px solid;
    border-image: url('../img/border.png')  30 round !important;
    cursor: auto;
    cursor: url('../img/marker.png'), auto;
    
}
#canvas-board.erase {
    cursor: auto;
    cursor: url('../img/eraser2.png'), auto !important;
}
.canvas-tools .list-group {
    margin: 10px;
}
.canvas-tools .choose-color .list-group-item{
    padding-left: 10px;
    padding-right: 0;
    border: none;
}

.canvas-tools .list-group-item:last-child {
    padding-right: 10px;
  }
.color {
    top: 10%;
    left: 45%;
    width: 20px;
    height: 20px;
}
.eraser {
    background-image: url('../img/eraser2.png') !important;
    background-repeat: no-repeat;
    height: 100px;
    margin-left: 10px;
}
.title {
    font-family: 'DK Crayon Crumble';
    color: white;
    text-align: center;
    font-size: 6.5rem;
    padding-top: 5%;
}
.canvas-bg .title {
    padding-top: 0;
}
.users .list-group  .list-group-item {
    padding-left: 0 !important;
    background-color: transparent;
}

@include media-breakpoint-only(sm) {
    #canvas-board {
        background-color: red;
    } 
    
 }
