{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Shared Chalkboard</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
  
        
        {% block content %}
        {% block title%}
        <div class="row">
                <div class="col">
                    <h1 id="main-title" class="title">Monadical's Chalkboard</h1>
                </div>
            </div>
        {% endblock title%}
                
           
        {% endblock content %}
        </div>
    </div>
</body>

{% block js %}
{% endblock js %}
</html>