{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Board</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <link href="{% static 'js/bootstrap.min.js' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<!-- <body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>
</body> -->
<body onload="init()" class="canvas-body">
    <div class="container canvas-bg">
        <div class="row">
            <div class="canvas-column">
                <canvas id="canvas-board" class="" width="540" height="510"></canvas>
            </div>
            <div class="canvas-tools">
                <h3 class="badge badge-secondary">Current Users</h3>
                <h3 class="badge badge-secondary">Choose Color</h3>
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item">
                        <div class="color" style="background:green;" id="green" onclick="color(this)"></div>
                    </li>
                    <li class="list-group-item">
                        <div class="color" style="background:blue;" id="blue" onclick="color(this)"></div>
                    </li>
                    <li class="list-group-item">
                        <div class="color" style="background:red;" id="red" onclick="color(this)"></div>
                    </li>
                    <li class="list-group-item">
                        <div class="color" style="background:yellow;" id="yellow" onclick="color(this)"></div>
                    </li>
                    <li class="list-group-item">
                        <div class="color" style="background:orange;" id="orange" onclick="color(this)"></div>
                    </li>
                    <li class="list-group-item">
                        <div class="color" style="background:black;" id="black" onclick="color(this)"></div>
                    </li>
                </ul>
                

                <h3 class="badge badge-secondary">Eraser</h3>
                <div class="eraser" id="white" onclick="erase(this)"></div>
                <div>
                    <button class="btn btn-success" size="30" onclick="saveDraw()" style="top:55%;left:10%;">Save Draw</button>
                    <button class="btn btn-danger" size="23" onclick="clearBoard()" style="top:55%;left:15%;">Clear Board</button>
                </div>
                
            </div>
        </div>
    </div>
</body>
<script>
    
    var boardSocket = new WebSocket('ws://' + window.location.host + '/');
    
    boardSocket.onmessage = e => {
        var data = JSON.parse(e.data)
        var message = data['message']
        /*This is the value that is send back to the server*/
        /*document.querySelector('#chat-log').value += (message + '\n');*/
    };

    boardSocket.onclose = e => {
        console.error('Chat socket closed unexpectedly')
    };

    /*document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };*/

/*     document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        console.log(message);
        boardSocket.send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '';
    }; */

    /*Board*/
    let canvas = false
    let ctx = false
    let flag = false
    let prevX = 0
    let currX = 0
    let prevY = 0
    let currY = 0
    let dot_flag = false
    let stroke_coordinates = []
    let erase_coordinates = []
    let username = "{{username}}"
   
    let currentColor
    let x = "black"
    let y = 2

init = () => {
    canvas = document.getElementById('canvas-board')
    console.log(canvas.getBoundingClientRect())
    ctx = canvas.getContext("2d")
    w = canvas.width
    h = canvas.height

    canvas.addEventListener("mousemove", function (e) {
        findxy('move', e)
    }, false);
    canvas.addEventListener("mousedown", function (e) {
        findxy('down', e)
    }, false);
    canvas.addEventListener("mouseup", function (e) {
        findxy('up', e)
    }, false);
    canvas.addEventListener("mouseout", function (e) {
        findxy('out', e)
    }, false);

    var previous_coordinates = "{{ previous_coordinates }}";
    //console.log(previous_coordinates)
    
    {% for coordinate in previous_coordinates %}
        prevX = "{{ coordinate.prevx }}";
        prevY = "{{ coordinate.prevy }}";
        currX = "{{ coordinate.coordinate_x }}";
        currY = "{{ coordinate.coordinate_y }}";
        is_point = "{{ coordinate.is_point }}";
        if (is_point == 1) {
            drawPoint()
        } else {
            draw() 
        }
    {% endfor %}
}

erase = obj => {
    $('#canvas-board').toggleClass('erase')
    if (!$('#canvas-board').hasClass('erase')) {
        x = currentColor
        y = 2
    } else {
        currentColor = x
        x = "white"
        y = 10
    }
}

color = obj => {
    switch (obj.id) {
        case "green":
            x = "green";
            break;
        case "blue":
            x = "blue";
            break;
        case "red":
            x = "red";
            break;
        case "yellow":
            x = "yellow";
            break;
        case "orange":
            x = "orange";
            break;
        case "black":
            x = "black";
            break;
        case "white":
            x = "white";
            break;
    }
    if (x == "white") y = 14;
    else y = 2;

}

draw = () => {
    ctx.beginPath()
    ctx.moveTo(prevX, prevY)
    ctx.lineTo(currX, currY)
    ctx.strokeStyle = x
    ctx.lineWidth = y
    ctx.stroke()
    ctx.closePath()
}

drawPoint = () => {
    ctx.beginPath()
    ctx.fillStyle = x
    ctx.fillRect(currX, currY, 2, 2)
    ctx.closePath()
}

sendCoordinates = () => {
    if (stroke_coordinates != '') {
        boardSocket.send(JSON.stringify({
            'action': 'draw',
            'coordinates': stroke_coordinates,
            'username': username
        }))
    }
    stroke_coordinates = []
}

clearBoard = () => {
    let m = confirm("Want to clear");
    if (m) {
        ctx.clearRect(0, 0, w, h)
        boardSocket.send(JSON.stringify({
            'action': 'clear',
            'username': username
        }))
    }
}

saveDraw = () => {
    boardSocket.send(JSON.stringify({
        'action': 'save',
        'username': username
    }))
}

findxy = (res, e) => {
    if (res == 'down') {
        prevX = currX
        prevY = currY
        currX = e.clientX - canvas.offsetLeft
        currY = e.clientY - canvas.offsetTop

        flag = true
        dot_flag = true
        if (dot_flag) {
            drawPoint()
            dot_flag = false
        }
    }
    if (res == 'up' || res == "out") {
        flag = false
    }
    if (res == 'up') {
        coordinates = {'prevX': currX, 'prevY': currY, 'x': currX, 'y': currY, 'is_point': 1}
        stroke_coordinates.push(coordinates)
        sendCoordinates()
    }
    if (res == 'move') {
        if (flag) {
            prevX = currX
            prevY = currY
            currX = e.clientX - canvas.offsetLeft
            currY = e.clientY - canvas.offsetTop
            draw()
            coordinates = {'prevX': prevX, 'prevY': prevY, 'x': currX, 'y': currY, 'is_point': 0}
            stroke_coordinates.push(coordinates)
        }
    }
}
</script>
</html>
