{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Shared White-Board</title>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="board">
            <div class="row align-items-start">
                <div class="col">
                        <h1 class="title">Monadical's Chalkboard</h1>
                </div>
            </div>
            <div class="row justify-content-lg-center">
                <div class="col-lg-auto username-form">
                    <form class="form-inline" method="POST" action="/board/" onsubmit="window.location.href = '/'; return true;">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username" name="username">
                        </div>    
                        <button type="submit" class="btn btn-success">Join!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
