{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Shared White-Board</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container-fluid board">
        <div class="row">
            <div class="col justify-content-center username-form">
                <form class="form-inline" method="POST" action="/board/" 
                    onsubmit="window.location.href = '/'; return true;">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Username" name="username">
                    </div>    
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>  
    </div>
</body>
</html>